// Elements

.col-sm-25{
    width: 20%;
    @include rtl-float-left();
    padding-left:  ceil(($grid-gutter-width / 2));
    padding-right: floor(($grid-gutter-width / 2));
}

.padding-left-50{
    @include rtl-padding-left(50px);
}
.panel{
    position:relative;
}

.no-padding{
    padding: 0;
}

.no-padding-left{
    @include rtl-padding-left(0);
}

.no-padding-right{
    @include rtl-padding-right(0);
}
.margin-bottom-30{
    margin-bottom: 30px;
}

.align-center{
    text-align: center;
}

.align-left{
    @include rtl-text-align-left();
}

.align-right{
    @include rtl-text-align-right();
}

.border-top{
    border-top: 1px solid $border-color;
}
.border-bottom{
    border-bottom: 1px solid $border-color;
}
.border-left{
    @include rtl-border-left(1px solid $border-color);
}
.border-right{
    @include rtl-border-right(1px solid $border-color);
}

.no-margin{
    padding: 0;
}

.owl-wrapper-outer{
    border-radius: 0px !important;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
 .no-space-row {
	.row{
		margin: 0;
	}
}
.no-space-row [class^="col-"],
.no-space-row [class*="col-"] {
	padding: 0;
}
.bg-white{
	background:#FFF;
}

// Buttton style

.btn-default{
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 600;
    @include border-radius(25px);
    border-width: 2px;
    @include box-shadow(0 0 0 0px $theme-color inset);
    @include transition(all 0.5s ease-in-out 0s);
    .fa{
        @include rtl-margin-left(10px);
    }
    a{
        color: $white;
    }
    &:hover{
        @include box-shadow(0 0 0 40px $theme-color inset);
        border-color: $theme-color;
    }
}

.btn-outline-light{
  @include button-variant-outline( #FFFFFF, transparent,  #FFFFFF, #FFFFFF, $element-color-primary, $element-color-primary);
} 

.btn-outline-dark{
  @include button-variant-outline( #000, transparent,  #000, $white, $element-color-primary, $element-color-primary);
} 

.btn-inverse-light{
  @include button-variant-outline( $brand-primary, #FFFFFF, #FFF, #FFFFFF, transparent,  #FFFFFF );
} 

.btn-outline{
    @include button-outline(default, #000, #FFFFFF );
    @include button-outline(primary, $brand-primary, #FFFFFF );
    @include button-outline(success, $element-color-primary, #FFFFFF );
    @include button-outline(info, $brand-info, #FFFFFF );
    @include button-outline(danger, $brand-danger, #FFFFFF );
    @include button-outline(warning, $brand-warning, #FFFFFF );
}
.btn-inverse{
    @include button-inverse(primary, $brand-primary, #FFFFFF );
    @include button-inverse(success, $element-color-primary, #FFFFFF );
    @include button-inverse(info, $brand-info, #FFFFFF );
    @include button-inverse(danger, $brand-danger, #FFFFFF );
    @include button-inverse(warning, $brand-warning, #FFFFFF );
}


/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
    background: none !important;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
    border: none;
    box-shadow: none;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
	.item {
		padding: 0px;
	}
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-controls .owl-buttons .owl-prev{
  left: 10px;
  top: 50%; 
}

.owl-controls .owl-buttons .owl-next{
  right: 10px;
  top: 50%;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	display: none!important;
}

/* mouse grab icon */
.grabbing { 
    
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}

/* OpenCart Code */
.owl-carousel {
	margin: 0px !important;
	direction: ltr !important;
	overflow: hidden;
}
.owl-carousel .owl-buttons div {
	opacity: 0; 
	color: rgba(0,0,0,0.8);
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
	transition: all .3s ease;
}
.owl-carousel:hover .owl-buttons div {
	opacity: 0.7;
}
.owl-carousel .owl-buttons div i {
	font-size: 40px;
	margin: -20px 0 0;
}

.owl-carousel .owl-buttons .owl-prev {
	left: -50px;  
}
.owl-carousel .owl-buttons .owl-next {
	right: -50px; 
}
.owl-carousel:hover .owl-buttons .owl-prev {
	left: 10px; 
}
.owl-carousel:hover .owl-buttons .owl-next {
	right: 10px; 
}
.owl-pagination {
	text-align: center;
	top: 0px;
	position: relative;
}
.owl-controls .owl-page {
	display: inline-block;
	margin: 0px 6px;
}
.owl-controls .owl-page span {
	display: block;
	width: 11px;
	height: 11px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);	
}
.owl-controls .owl-page.active span {
	background: rgba(0, 0, 0, 0.9);
}

.owl-carousel-play{
	position:relative;
	.owl-item{
		& > div{
		}
		&:last-child .product-wrapper{
			border:none
		}
	}
}
.owl-carousel-play {
	.carousel-control{
		z-index: 5;
	}
	&:hover {
		.carousel-control{

		}
	}
}


.carousel-md {
	@include size($bo-carousel-md-width, $bo-carousel-md-height);
	 line-height: $bo-carousel-md-height;
}
.carousel-sm {
	@include size($bo-carousel-sm-width, $bo-carousel-sm-height);
	 line-height: $bo-carousel-sm-height;
	 font-size: 14px;
}
.carousel-xs {
	@include size($bo-carousel-xs-width, $bo-carousel-xs-height);
	 line-height: $bo-carousel-xs-height;
	 font-size: 14px;
}

.carousel-controls {
    @include size(70px, 30px);
    @include rtl-right(0px);
    position: absolute;
    top: -72px;
    z-index: 10;
    .carousel-control {
        background: $white;
        color: #999999;
        z-index: 99;
        height: 25px;
        border: 1px solid $border-color;
        @include rtl-left(auto);
        text-shadow: none;
        font-size: 12px;
        @include size(30px, 30px);
        @include border-radius(50%);
        @include opacity(1);
        @include box-shadow(0 1px 1px 0 #e2e2e2);
        line-height: 27px;
        &.left {
            left: 0;
        }
        &.right {
            right: 0;
        }
        &:hover{
            background-color: $theme-color;
            color: $white;
        }
    }
}
/*Font Weight*/

.text-purple {
	color: #6c58bd !important;
}

.text-red {
	color: #c32322 !important;
}
.text-red-1{
  color: #ff0000!important;
}
.text-orange {
	color: #f66000 !important;
}

.text-yellow {
	color: #e2d951 !important;
}
.text-black {
  color:#000!important;
}
.text-white, .text-light{
	color:#FFFFFF!important;
}
.text-darker {
	color:#333!important;
}
 .text-uppercase{
    text-transform: uppercase;
 }
 
/*Radius
------------------------------------*/
.radius-0 {
	border-radius: 0 !important;
}

.radius-x {
	border-radius: 50% !important;
}

.radius-1x {
	border-radius: 10px !important;
}

.radius-2x {
	border-radius: 20px !important;
}

.radius-3x {
	border-radius: 30px !important;
}

.radius-4x {
	border-radius: 40px !important;
}

.radius-5x {
	border-radius: 5px !important;
}

.radius-6x {
	border-radius: 3px !important;
}

/**
 * Menu
 */
 ul.menu {	
 	padding:0;
 	margin:0;
 	li{
 		list-style: none;
 	}		
 }

/****/

.testimonials{
    color: #000;
    .testimonials-avatar{
        width:60px;
        height: 60px;
        overflow: hidden;
        @include rtl-margin-right(15px); 
    }
    .testimonials-quote {
        background-color:  $bo-testimonials-v1-background;
        margin-bottom: 20px;
        padding: 15px;
        position: relative;
        &:after {
            bottom: -28px;
            color: $bo-testimonials-v1-background;
            content: "\f0d7";
            font-family: "FontAwesome";
            font-size: 30px;
            @include rtl-margin-left (-15px);
            position: absolute;
            text-align: center;
        }
    }
    h3,h4,h5{ text-transform:uppercase; font-size:13px; color:#000; }
    .testimonials-body{
        padding:15px 10px;
        display: table;
        margin-top:20px;
        margin-bottom: 20px;
        position: relative;
        display: block;
        overflow: hidden;
    }

    .testimonials-left{
        .testimonials-avatar{ @include rtl-float-left(); }
    }

    &.testimonials-v2 {
        .testimonials-avatar{
            @include rtl-float-left();
        }
    }
    &.testimonials-v4{
        .testimonials-body{
            margin:20px 25px;
        }
        .testimonials-avatar {
            position: absolute;
            top: 15px;
            left: -30px;
        }
        .testimonials-description, .testimonials-meta{
            margin-left: 30px;
        }
    }
}
/** SOCIAL ICONS ***/
.bo-social-icons{    
    [class^="bo-social-"]{             
        color:#FFFFFF;               
        display:inline-block;                
        margin: 10px 5px;
        overflow: hidden;
        text-decoration: none; 
        text-align: center;       
        vertical-align: top;
        line-height: 36px;                        
        @include square(36px);
        background: $border-color;
        color: darken($border-color, 30%);
        transition: all 0.2s ease-out 0s;
        &:hover{
            background:#000000;
            color:#FFFFFF;
        }
    } 
    .bo-social-white{
        background: #FFFFFF;
        color: darken($border-color, 30%);
        border: 1px solid darken($border-color, 30%);
    }   
    .bo-social-outline{
        background: transparent;
        color: #000;
        border: 1px solid #000;
    }   
    .bo-social-outline-light{
        background: transparent;
        color: #FFF;
        border: 1px solid #FFFFFF;
        &:hover{
            background: #FFF;
            color: #000;
            border-color: #000;
        }
    }
    &:first-child{
        [class*="bo-social-"]{
            margin-top: 0;
        }
    }
    &:last-child{
        [class*="bo-social-"]{
            margin-bottom: 0;
        }
    }
    &.bo-sicolor{
        [class*="bo-social-"]{
            color: #FFFFFF;
        }
    }
}
.bo-sicolor{ 
        
    .bo-social-twitter{background: #00bdec;} .bo-social-twitter:hover{background: #000000;}
    .bo-social-dribbble{background: #ef5b92;} .bo-social-dribbble:hover{background: #000000;}
    .bo-social-facebook{background: #3b5998;} .bo-social-facebook:hover{background: #000000;}
    .bo-social-duckduckgo{background: #de3100;} .bo-social-duckduckgo:hover{background: #000000;}
    .bo-social-aim{background: #158799;} .bo-social-aim:hover{background: #000000;}
    .bo-social-delicious{background: #183864;} .bo-social-delicious:hover{background: #000000;}
    .bo-social-paypal{background: #32689a;} .bo-social-paypal:hover{background: #000000;}
    .bo-social-android{background: #8ab733;} .bo-social-android:hover{background: #000000;}
    .bo-social-gplus{background: #d94a39;} .bo-social-gplus:hover{background: #000000;}
    .bo-social-lanyrd{background: #3879ba;} .bo-social-lanyrd:hover{background: #000000;}
    .bo-social-stumbleupon{background: #ea4b24;} .bo-social-stumbleupon:hover{background: #000000;}
    .bo-social-fivehundredpx{background: #00a6e1;} .bo-social-fivehundredpx:hover{background: #000000;}
    .bo-social-pinterest{background: #b8242a;} .bo-social-pinterest:hover{background: #000000;}
    .bo-social-bitcoin{background: #f7931a;} .bo-social-bitcoin:hover{background: #000000;}
    .bo-social-w3c{background: #005a9c;} .bo-social-w3c:hover{background: #000000;}
    .bo-social-foursquare{background: #3bb7e8;} .bo-social-foursquare:hover{background: #000000;}
    .bo-social-html5{background: #e44e26;} .bo-social-html5:hover{background: #000000;}
    .bo-social-ie{background: #00ccff;} .bo-social-ie:hover{background: #000000;}
    .bo-social-grooveshark{background: #f66f00;} .bo-social-grooveshark:hover{background: #000000;}
    .bo-social-ninetyninedesigns{background: #ff5501;} .bo-social-ninetyninedesigns:hover{background: #000000;}
    .bo-social-forrst{background: #223f17;} .bo-social-forrst:hover{background: #000000;}
    .bo-social-spotify{background: #8fbd05;} .bo-social-spotify:hover{background: #000000;}
    .bo-social-reddit{background: #ff4500;} .bo-social-reddit:hover{background: #000000;}
    .bo-social-gowalla{background: #f6911d;} .bo-social-gowalla:hover{background: #000000;}
    .bo-social-apple{background: #5f5f5f;} .bo-social-apple:hover{background: #000000;}
    .bo-social-blogger{background: #fb9241;} .bo-social-blogger:hover{background: #000000;}
    .bo-social-cc{background: #5e7c00;} .bo-social-cc:hover{background: #000000;}
    .bo-social-evernote{background: #61b239;} .bo-social-evernote:hover{background: #000000;}
    .bo-social-flickr{background: #ff0084;} .bo-social-flickr:hover{background: #000000;}
    .bo-social-google{background: #d94a39;} .bo-social-google:hover{background: #000000;}
    .bo-social-viadeo{background: #f5a433;} .bo-social-viadeo:hover{background: #000000;}
    .bo-social-instapaper{background: #eaec08;} .bo-social-instapaper:hover{background: #000000;}
    .bo-social-klout{background: #e34600;} .bo-social-klout:hover{background: #000000;}
    .bo-social-linkedin{background: #1b92bd;} .bo-social-linkedin:hover{background: #000000;}
    .bo-social-meetup{background: #e51938;} .bo-social-meetup:hover{background: #000000;}
    .bo-social-vk{background: #587da4;} .bo-social-vk:hover{background: #000000;}
    .bo-social-disqus{background: #2e9fff;} .bo-social-disqus:hover{background: #000000;}
    .bo-social-rss{background: #ff7f00;} .bo-social-rss:hover{background: #000000;}
    .bo-social-skype{background: #18b7f1;} .bo-social-skype:hover{background: #000000;}
    .bo-social-youtube{background: #c4302b;} .bo-social-youtube:hover{background: #000000;}
    .bo-social-vimeo{background: #01557a;} .bo-social-vimeo:hover{background: #000000;}
    .bo-social-windows{background: #00ccff;} .bo-social-windows:hover{background: #000000;}
    .bo-social-xing{background: #036567;} .bo-social-xing:hover{background: #000000;}
    .bo-social-yahoo{background: #61399d;} .bo-social-yahoo:hover{background: #000000;}
    .bo-social-chrome{background: #58b947;} .bo-social-chrome:hover{background: #000000;}
    .bo-social-macstore{background: #6e6e6e;} .bo-social-macstore:hover{background: #000000;}
    .bo-social-amazon{background: #ff9900;} .bo-social-amazon:hover{background: #000000;}
    .bo-social-steam{background: #a5a4a1;} .bo-social-steam:hover{background: #000000;}
    .bo-social-dropbox{background: #7ab6ec;} .bo-social-dropbox:hover{background: #000000;}
    .bo-social-cloudapp{background: #489dde;} .bo-social-cloudapp:hover{background: #000000;}
    .bo-social-ebay{background: #86b817;} .bo-social-ebay:hover{background: #000000;}
    .bo-social-github{background: #667F8E;} .bo-social-github:hover{background: #000000;}
    .bo-social-googleplay{background: #5befd0;} .bo-social-googleplay:hover{background: #000000;}
    .bo-social-itunes{background: #177ac8;} .bo-social-itunes:hover{background: #000000;}
    .bo-social-plurk{background: #a73d07;} .bo-social-plurk:hover{background: #000000;}
    .bo-social-songkick{background: #f80046;} .bo-social-songkick:hover{background: #000000;}
    .bo-social-lastfm{background: #c60e16;} .bo-social-lastfm:hover{background: #000000;}
    .bo-social-gmail{background: #e04a3f;} .bo-social-gmail:hover{background: #000000;}
    .bo-social-pinboard{background: #224cf4;} .bo-social-pinboard:hover{background: #000000;}
    .bo-social-openid{background: #be661b;} .bo-social-openid:hover{background: #000000;}
    .bo-social-quora{background: #c41a00;} .bo-social-quora:hover{background: #000000;}
    .bo-social-soundcloud{background: #ff5c00;} .bo-social-soundcloud:hover{background: #000000;}
    .bo-social-tumblr{background: #395874;} .bo-social-tumblr:hover{background: #000000;}
    .bo-social-eventasaurus{background: #b9f15e;} .bo-social-eventasaurus:hover{background: #000000;}
    .bo-social-wordpress{background: #464646;} .bo-social-wordpress:hover{background: #000000;}
    .bo-social-yelp{background: #c41200;} .bo-social-yelp:hover{background: #000000;}
    .bo-social-intensedebate{background: #00aeef;} .bo-social-intensedebate:hover{background: #000000;}
    .bo-social-eventbrite{background: #ff6c00;} .bo-social-eventbrite:hover{background: #000000;}
    .bo-social-scribd{background: #002939;} .bo-social-scribd:hover{background: #000000;}
    .bo-social-posterous{background: #f8d667;} .bo-social-posterous:hover{background: #000000;}
    .bo-social-stripe{background: #617ee8;} .bo-social-stripe:hover{background: #000000;}
    .bo-social-opentable{background: #990000;} .bo-social-opentable:hover{background: #000000;}
    .bo-social-instagram{background: #4c799f;} .bo-social-instagram:hover{background: #000000;}
    .bo-social-dwolla{background: #ff7404;} .bo-social-dwolla:hover{background: #000000;}
    .bo-social-appnet{background: #1e0c29;} .bo-social-appnet:hover{background: #000000;}
    .bo-social-statusnet{background: #fb6104;} .bo-social-statusnet:hover{background: #000000;}
    .bo-social-acrobat{background: #ff0000;} .bo-social-acrobat:hover{background: #000000;}
    .bo-social-drupal{background: #007dc3;} .bo-social-drupal:hover{background: #000000;}
    .bo-social-pocket{background: #ee4056;} .bo-social-pocket:hover{background: #000000;}
    .bo-social-bitbucket{background: #205081;} .bo-social-bitbucket:hover{background: #000000;}
    .bo-social-flattr{background: #fbbc23;} .bo-social-flattr:hover{background: #000000;}
    .bo-social-eventful{background: #0066cc;} .bo-social-eventful:hover{background: #000000;}
    .bo-social-smashmag{background: #d6231c;} .bo-social-smashmag:hover{background: #000000;}
    .bo-social-wordpress{background: #1e8cbe;} .bo-social-wordpress:hover{background: #000000;}
    .bo-social-calendar{background: #ff0000;} .bo-social-calendar:hover{background: #000000;}
    .bo-social-call{background: #04be3d;} .bo-social-call:hover{background: #000000;}
    .bo-social-guest{background: #03a9d2;} .bo-social-guest:hover{background: #000000;}
    .bo-social-weibo{background: #fd0000;} .bo-social-weibo:hover{background: #000000;}
    .bo-social-plancast{background: #e4b82c;} .bo-social-plancast:hover{background: #000000;}
    .bo-social-email{background: blue} .bo-social-email:hover{background: #000000;}
    .bo-social-myspace{background: #2068b0;} .bo-social-myspace:hover{background: #000000;}
    .bo-social-podcast{background: #f38b36} .bo-social-podcast:hover{background: #000000;}
    .bo-social-cart{background: #00a204;} .bo-social-cart:hover{background: #000000;}
}

 /* --- SCSS For Counters --- */// Core variables and mixins


.counters { 
  text-align: center;
  .counter-wrap {
    font-size: $bo-counter-font-size;
    color: $bo-counter-color;
    font-weight: $bo-counter-font-weight;
    .fa{
      font-size: $bo-counter-icon-font-size;
    }
    .counter{
      position: relative;
      display: inline-block;
      padding-bottom: 5px;
      margin-bottom: 10px;
      &:after{  
        content: "";
        position: absolute;
        @include size(30px, 2px);
        background: $bo-counter-color;
        bottom: 0;
        left: 50%;
        margin-left: -15px;
      }
    }
  }
  h5{
    font-weight: $bo-counter-heading-font-weight;
    margin: 5px 0 30px;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
  }
}



 /* --- Widget Images --- */

.widget-images{
    .image-item{
        box-shadow: 0 1px 1px 0 #E2E2E2;
        display: block;
    }
}

 /* --- Introduce-banner --- */

.introduce-banner{
    background-color: $white;
    .content-introduce{
        .detail{
            padding: $theme-padding - 1;
            box-shadow: 0 1px 1px 0 #E2E2E2;
            h2{
                font-size: $font-size-base + 4;
                text-transform: uppercase;
                margin-top: 0;
                font-weight: 600;
            }
        }
    }
}

 /* --- SCSS For Pricing --- */// Core variables and mixins


.pricing{
    text-align: center;
    ul{
        padding-left:0;
        padding-right:0; 
        li{
            list-style: none;
        }
    }
    &.pricing-v1{
     background: #FFFFFF; 
     border: 3px solid #313131;
     .pricing-header > *{
         font-family: $font-family-second;
     }
     .plan-title{ 
         font-size: 24px; 
         text-transform: uppercase; 
         font-weight: 300; 
         margin: 0; 
         padding: 30px 0;
         background: #313131;  
         color: $white;  
     }
     .plan-figure{
         font-size: 48px; 
         font-weight: 700; 
         color: #000; 
     }
     .plan-price{
         font-size: 16px;
         border-bottom: 2px solid $border-color;
         line-height: 1;
         padding: 25px 0;
         p{
            margin: 0;
         }
     }
     .plan-currency{
         font-size: 30px;
         font-weight: 700;  
         color: $black;  
         position: relative;
         top: -15px; 
     }
     .plain-info{
         padding: 20px;
         li{
             font-size: 16px; 
             color: #555555;
             font-weight: 400;    
             padding: 15px 0; 
         }    
     }
     .pricing-footer{
         padding: 0px 20px 40px 20px;
     }  
     &.pricing-highlight{
         border-color: $theme-color!important;
      }      
   }
    &.pricing-v2{
        background: #FFFFFF; 
        .plan-title{
            color: #000;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 300; 
            margin: 0;
            padding: 30px 0;  
        }
        .plan-price{
            background: $brand-primary;
            margin: 0 -10px;    
            position: relative;
            height: 100px; 
            .plan-price-body{
                background: $brand-primary;
                margin: 0 auto;
                border-radius: 50%;                                
                position: absolute;
                left: 0;
                top: -15px;
                right: 0;          
                color: #FFF;       
                @include square(130px);
            }
            .plan-figure{
                font-size: 48px;
                font-weight: 300; 
            }
            .plan-currency{
                font-size: 30px;   
                font-weight: 300;  
            }
        }
        .plain-info{
            padding: 20px; 
            li{
                color: #000; 
                line-height: 62px; 
                border-bottom: 1px dashed #C8C8C8;                
            }
        }
        .pricing-footer{
            padding: 0 20px 40px 20px; 
        }      
        &.pricing-highlight{
          .plan-title{
            background: $white;
            color: $black;
          }
          .plan-price-body{
            background: $element-color-primary;
            color: $white;
          }
          .btn-block{
            background: $element-color-primary; 
            border-color: $element-color-primary;
            &:hover, &:focus, &:active{
              background: none;
              color: $theme-color;
            }
          }
        }     
    }
    &.pricing-v3{
        background: #FFFFFF; 
        border:1px solid #DEDEDE;
        .plan-title{
            background: #261F2F;
            font-size: 24px; 
            text-transform: uppercase;
            font-weight: 300; 
            margin: 0; 
            padding: 30px 0;
            border: none; 
            span{
              color: $white;   
            }          
        }
        .plan-figure{
            font-size: 48px; 
            font-weight: 300; 
            color: #000; 
        }
        .plan-price{
            font-size: 16px;
            background: #332C3E;
            padding: 15px 0;
            > *{
              color: $white;
              line-height: 1;
            }
        }
        .plan-currency{
            font-size: 30px;
            font-weight: 300;     
        }
        .plain-info{
            li{
                font-size: 16px; 
                color: #000;
                font-weight: 300;                  
                background: #F8F8F8;  
                padding: 14px 0; 
                &:nth-child(2n+1){
                  background: $white;
                }
            }    
        }
        .pricing-footer{
            padding: 0px 20px 40px 20px;
        }  
        &.pricing-highlight{
          .plan-title{ 
            background: $theme-color;
            color: $white;
          }
          .plan-price{
            background: $element-color-primary;
            color: $white;
          }
          .btn-block{
            background: $element-color-primary; 
            border-color: $element-color-primary;
            &:hover, &:focus, &:active{
              background: none;
              color: $theme-color;
            }
          }
        }  
    }
    &.pricing-highlight{
        .plan-title{
            background: $element-color-primary; 
            color: #FFFFFF;            
        }
    }
}


@mixin translateY($y) {
    -webkit-transform: translateY($y);
    -ms-transform: translateY($y); // IE9 only
    -o-transform: translateY($y);
    transform: translateY($y);
}

/* our team */

[class*="team-v"]{  
    text-align: center;
    [class^="bo-social-"]{
        margin: 0;  
    }       
    .team-name{
        text-transform: uppercase;
        font-size: 14px;
        margin: 0 0 10px 0;
    }
}

// team 2
.team-list{
    margin-bottom: 50px;
    .team-name{
        font-size: 18px;
        margin: 0 0 20px 0;
        text-transform: uppercase;
        padding: 0 0 20px 0;
        position: relative;
        &:after{
            bottom: 0;
            left: 0;
            content: "";
            background: $element-color-primary;
            @include size(30px,2px);
            position: absolute;
        }
    }
    .team-position{
        text-transform: uppercase;
        color: $element-color-primary;
        font-weight: 800;
        margin-bottom: 25px;
    }  
    .team-info{
        margin-bottom: 15px;
    }
    .bo-social-icons{
        text-align: left;
        [class*="bo-social-"]{
            margin: 0;
        }
    }      
}

// team 3
.team-gallery{
    background: #FFF;
    .team-header{
        position: relative; 
        text-align: center;  
        &:before{            
            top: 0;
            left: 0;          
            content: "";    
            position: absolute;
            visibility: hidden;
            @include square(100%);
            @include opacity(0);
            @include transition(all 0.5s ease 0s);                        
            background: rgba($element-color-primary,.5);
        }
    }        
    .team-name{
        font-size: 14px;
        margin-top: 0;
        text-transform: uppercase;
    }
    .team-gallery-box{        
        top: 0;
        left: 0;
        width: 80%;
        right: 0;
        height: 50%;
        bottom: 0;
        margin: auto;  
        position: absolute;
        visibility: hidden;
        @include opacity(0);
        @include transition(all 0.5s ease 0s);   
    }
    .team-info{
        color: #FFFFFF;
    }
    
    .team-position{
        color: #999999; 
        margin-bottom: 0;       
    }      
    .team-body-content{
        padding: 30px;
        position: relative;
        &:before{
            content: "";
            right: 0;
            @include size(1px,50px);
            position: absolute;
            background: $element-color-primary;
        }
    }
    .bo-social-white{
      border-color: $white;
      color: $white;
      background: none;
    }  
    &:hover{
        .team-header{
            &:before{
                visibility: visible;
                @include opacity(1);
            }
        }
        .team-gallery-box{
            visibility: visible;
            @include opacity(1);
        }
    }  
}

//Team 4
.team-hover{
    background: #FFF;
    border: none;
    .team-header{
        position: relative; 
        text-align: center;  
        &:before{            
            top: 0;
            left: 0;          
            content: "";    
            position: absolute;
            visibility: hidden;
            @include square(100%);
            @include opacity(0);
            @include transition(all 0.5s ease 0s);                        
            background: rgba($element-color-primary,.5);
        }
    }        
    .team-name{
        font-size: 14px;
        margin-top: 0;
        text-transform: uppercase;
    }
    .team-gallery-box{
      width: 100%;
      height: 45px;
      top: 50%;
      margin-top: -22.5px;
    }
    .team-info{
        color: #FFFFFF;
    }
    .team-position{
        color: #999999; 
        margin-bottom: 0;       
    }      
    .team-body-content{
        padding: 20px;
        position: relative;
        text-align: center;
        &:before{
            content: none;
        }
        >*{
          text-align: center;
        }
        .team-name{
          margin-bottom: 5px;
        }
    }
    .bo-social-white{
      border-color: $white;
      color: $white;
      background: none;
    }  
    &:hover{
        .team-header{
            &:before{
                visibility: visible;
                @include opacity(1);
            }
        }
        .team-gallery-box{
            visibility: visible;
            @include opacity(1);
        }
    }  
}

.team-small{
  border: none!important;
  .team-body{
    background: none!important;
  }
  .team-info{
    display: none!important;
  }
  &:hover{
    .team-body{
      -webkit-transform: translateY(0)!important;
      -ms-transform: translateY(0)!important; 
      -o-transform: translateY(0)!important;
      transform: translateY(0)!important;
    }
  }
}



 /* --- SCSS For Icon-box --- */
.feature-box {
    &.feature-box-center {
        text-align: center;
    }
    .fbox-content {
        overflow: hidden;
    }
    small {
        font-size: 12px;
        margin-bottom: 10px;
        display: inline-block;
        color: $theme-color-second;
    }

    h4 {
        margin: 10px 0;
        font-weight: 600;
        text-transform: none;
        font-size: 15px;
    }
    .fbox-icon {
        @include rtl-float-left();
        @include rtl-margin(10px, 15px, 0, 0);
        color: $element-color-primary;
        .icons {
            font-size: 2em;
            color: $element-color-primary;
            @include size(40px, 40px);
            line-height: 40px;
            overflow: hidden;
            text-align: center;
        }
    }
    &.feature-box-v1 {
        .box-heading {
            color: $white;
            font-weight: 900;
            font-size: 60px;
            text-transform: uppercase;
            letter-spacing: 4.5px;
        }
        p {
            font-size: 19px;
            color: $white;
            font-weight: 300;
            padding: 10px 0;
        }
        .btn-default{
            margin-top: $theme-margin + 5px;
        }
    }
}

.feature-box-v1{
   .fbox-icon{
      margin-right: 36px;
      float: left;
      position: relative;
      .icons{
         @include size(70px, 70px);
         line-height: 70px;
         font-size: 40px;
      }
   }
  
}
.border-none{
    .feature-box-v2{
        &:before{
            display: none;
        }
    }
}
.feature-box-v2{
    text-align: center;
    padding: 30px;
    position: relative;
    &:before {
        content: "";
        @include rtl-right(-20px);
        @include size(1px ,100%);
        background: $border-color;
        z-index: 9;
        position: absolute;
        top: 0;
    }
    .heading{
        font-size: 19px;
    }
    .fbox-icon{
        float:  none !important;
        margin-bottom: 20px;
        .icons{
           @include size(70px, 70px);
           line-height: 70px;
           font-size: 36px;
           background: none;
        }
    }
    .fbox-body{
        letter-spacing: 0px;
        margin-top: 10px;
        color: #999;
        .heading{
            color: $link-color;
        }
    }
    .fbox-content {
        overflow: hidden;
    }
}
.feature-box-v3{
    position: relative;
    @include rtl-padding-right(20px);
    padding-top: 60px;
    padding-bottom: 60px;
    .fbox-icon {
        min-height: 60px;
        .icons {
          font-size: 24px;
          @include size(70px, 70px);
          line-height: 70px;
          color: $white;
          @include border-radius(50%);
          background: $theme-color;
        }
    }
    .fbox-body {
        color: #999999;
        .heading {
            color: $theme-color-second;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: $font-size-base + 1;
        }
    }
}

.feature-box.feature-box-v4{
   padding: 20px 30px ;
   border: 1px solid #ddd;
   border-bottom: 3px solid $theme-color;
   text-align: center!important;
   .fbox-icon{
      text-align: center;
      float: none!important;
      margin-bottom: 20px;
      .icons{
         font-size: 36px;
         @include size(70px, 70px);
         line-height: 70px;
         color: #000000;
         background: none;
      }
   }
   .description{
        text-align: center;
   }
}

/**
 * Tab Style
 */

.tab-v7 {
    .nav-tabs {
        border-bottom: none;
        > li {
            > a {
                color: $bo-tabs-a-color;
                border: none;
                border-radius: 0;
                padding: $bo-tabs-padding;
                background: transparent;
                border: 1px solid $bo-tabs-border-color;
                &:hover {
                    color: $bo-tabs-a-color-hover;
                }
            }
            &.active > a {
                color: $bo-tabs-a-color-active;
                border: none;
                background: $bo-tabs-background-hover;
                border: 1px solid $bo-tabs-background-hover;
            }
        }
    }
    .tab-content {
      margin: $bo-tabs-content-margin;
    }
}

.tab-v8 {
    .nav-inner {
      text-align: center;

    }
    .nav-tabs {
        display: inline-block;
        border: none;
        li {
            a {
                border: none;
                background: transparent;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 13px;
                &.active, &:focus, &:hover {
                    background: transparent;
                    border-top: none;
                }
            }
            &.active, &:focus, &:hover, &.ui-state-active {
                background: transparent;
                border: none;
                a {
                    border: none;
                    color: $theme-color-second;
                }
            }
            position: relative;
            &:before {
                content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
                padding: 0 5px;
                color: $black;
                position: absolute;
                right: -6px;
                top: 11px;
            }
        }
    }
}

.pbr-inforbox{
    .inforbox-inner{
        text-align: center;
        padding:10px;
    }
}

/*
 * Banner Styles
 */

.banner-zindex{
    position: relative;
    z-index: 999;
    margin-top: -192px;
}

/*
 *  Pav Newsletter
 */

.pav-newsletter{
    letter-spacing: 0;
    max-width: 60%;
    margin: 0px auto;
    color: $white;
    text-align: center;
    .heading{
        color: $white;
        font-size: 36px;
        font-weight: 700;

    }
    .description{
        font-size: 18px;
        letter-spacing: 0;
        color: #dedede;
    }
    .list-inline{
        display: none;
        li{
            @include rtl-padding-right(12px);
            @include rtl-padding-left(0px);
            &:before{
                display: none;
            }
            &:hover{
                @include rtl-padding-left(0px);
            }
            .fa{
                font-size: 16px;
            }
        }
    }
    .input-group{
        display: block;
        position: relative;
        margin-top: 25px;
        overflow: hidden;
        .form-control{
            height: 42px;
            border: none;
            @include box-shadow(none);
            margin-top: 8px;
            margin-bottom: 15px;
            @include border-radius(25px);
            padding: 0 30px;

        }
        .input-group-btn{
            position: absolute;
            z-index: 9;
            @include rtl-right(0);
            top: 8px;
            @include size(50px,50px);
            .btn-primary{
                background: none;
                border: none;
                @include size(100%,50px);
                .fa{
                    color: #999999;
                    @include transition(all 0.5s ease-in-out 0s);
                }
                &:hover{
                    .fa{
                        color: $theme-color;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

/*
 *  Feature Category
 */

.feature-category{
    &.feature-category-v1{
        text-align: center;
        .img-responsive{
            display: inline-block;
        }
        .items{
            display: none;
        }
        .heading{
            margin-top: $theme-margin - 5px;
            font-size: $font-size-base + 3;
        }
    }
}

.feature-content-v2{
    background: rgba($white, 0.6);
    padding: 30px;
    max-width: 570px;
    margin: 0px auto;
    text-align: center;
    .heading{
        color: $theme-color-second;
        font-size: 52px;
        font-weight: 600;
    }
    .sub-heading{
        text-transform: uppercase;
    }
    .sub-heading,
    .content{
        color: $text-color;
        font-size: $font-size-base + 1;
        letter-spacing: 0;
    }
}

/*
 *  Widget HTML
 */

.widget-html{
    &.panel-default > .panel-heading{
        margin-bottom: 0;
    }
    .box-heading{
        font-weight: 700;
        font-size: 28px;
        margin-top: 0;
    }
    .sub-heading{
        font-size: 16px;
        letter-spacing: 0px;
        font-weight: 400;
        color: #999999;
    }
}

/*
 *  Widget images Style
 */

.introduce-banner,
.widget-images{
    .image-item {
        position: relative;
        overflow: hidden;
        img{
            @include scale(1);
            @include transition(all 0.3s ease 0s);
        }
        &:before {
            background: rgba(0, 0, 0, 0.4) url('#{$image-theme-path}plus.png') no-repeat scroll center center / 60px 60px;
            content: "";
            @include size(100%, 100%);
            @include rtl-left(0);
            @include opacity(0);
            overflow: hidden;
            position: absolute;
            top: 0;
            @include scale(0.2);
            @include transition(all 0.3s ease 0s);
            z-index: 100;
        }
        &:hover {
            cursor: pointer;
            &:before {
                @include opacity(0.6);
                @include scale(1);
                visibility: visible;
            }
            img {
                @include scale(1.1);
            }
        }
    }
}

/*
 *  Gallery Style
 */

.gallery{
    .box-heading{
        margin-top: 0;
    }
    .banner-img{
        a{
            position: relative;
            @include size(100%,100%);
            display: block;
            &:before{
                background: rgba(0, 0, 0, 0.6) url('#{$image-theme-path}plus.png') no-repeat scroll center center / 60px 60px;
                content: "";
                @include size(100%,100%);
                @include rtl-left(0);
                @include opacity(0);
                overflow: hidden;
                position: absolute;
                top: 0;
                @include scale(0.2);
                @include transition(all 0.3s ease 0s);
                z-index: 100;
            }
            &:hover{
                &:before{
                    @include opacity(0.6);
                    @include scale(1);
                    visibility: visible;
                }
            }
        }
    }
}

/*
 * Brand Styles
 */

.brands-carousel{
    @include rtl-padding-right(1px);
    .owl-item{
        padding-top: 65px;
        padding-bottom: 65px;
        border-right: 1px solid $border-color;
        text-align: center;
        &:last-child{
            @include rtl-border-right(none);
        }
    }
    .item-brand{
        margin:10px 15px;
        img{
            max-width: 100%;
        }
        height: 80px;
        overflow: hidden;

        border:solid 2px $border-color;
    }
}    