/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        @include rtl-left(100%);
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }

        li{
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $theme-color;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{
            @include rtl-float-left();
            @include inline-block();
            margin-top: 0;
            padding: 18px 0;
            > a{
                font-family: $font-family-second;
                position: relative;
                color: $navbar-link-color;
                padding: $navbar-link-padding;
                margin: $navbar-link-margin;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                @include border-radius(0);
                @include font-size(font-size, $navbar-font-size);
                @include transition(all 0.35s);
                @media(max-width: $screen-md-max){
                    padding: 0 15px;
                } 

                .caret{
                    color: #222222;
                    border-width: 3px;
                    @include transition(all 0.35s);
                }

                &:hover, &:focus{
                    color: $theme-color;
                    background: $navbar-link-hover-bg;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            
            &:hover{
                > .dropdown-menu{
                    display: block;
                }
            }
            &:hover, &:focus{
                > a{
                    color: $theme-color;
                    background: $navbar-link-hover-bg;
                    .caret{
                        color: $theme-color;
                    }
                }
            }
            &:first-child a{
                border: none;
            }
           
            .dropdown-menu{
                padding: 30px;
                border-top: 2px solid $theme-color ;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                ul.dropdown-menu{
                    @include rtl-left(100%);
                    top: 0;
                    position: absolute;
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 0;
                    position: relative;
                    a{
                        min-height: inherit;
                        display: block;
                        font-weight: $navbar-dropdown-link-font-weight;
                        padding: $navbar-dropdown-padding;
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        border-bottom: 1px solid $border-color;
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:hover{
                      > .dropdown-menu{
                        display: block;
                      }
                    }
                    &:last-child{
                         a{
                            border: none;
                         }
                    }
                }
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
        }
        .pavo-widget{
            ul{
                li{
                    a{
                        padding: 12px 0;
                    }
                }
            }
            .product-block{
                overflow: hidden;
                margin-bottom: 20px;
                @include box-shadow(none);
                .name{
                    a{
                        padding: 0;
                        font-weight: 400;
                    }
                }
                .product-img{
                    @include rtl-margin-right(20px);
                    border: 1px solid $border-color;
                    a.img{
                        padding: 0;
                    }
                    img{
                        max-width: 100px;
                    }
                    &:before{
                        display: none;
                    }
                }
                .product-label{
                    display: none;
                }
                .media-body{
                    @include rtl-text-align-left();
                }
            }
            .widget-heading {
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        
       // dropdown menu align
        .aligned-center > .dropdown-menu {
            @include rtl-left(50%);
            transform: translate(-50%);
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
        }
        .aligned-right > .dropdown-menu {
            left: auto;
            right: 0;
        }
        > .aligned-fullwidth{
            position: static !important;
            > .dropdown-menu{
                width: 100% !important;
                padding: 30px;
              }
        } 
        .container-mega{
            .row {
                padding-bottom: 0;
                margin: 15px 0 30px!important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: #423B4D;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }   
    .text-label{
        position: absolute;
        top: -20px;
        right: 45%;
        padding:0px 3px; 
        font-size: 9px;
        color: #FFFFFF;
        &.text-hot{
            background:$brand-danger;
            &:after {  border-top-color: $brand-danger ; } 
        }
        &.text-new{
            background:$brand-info;
            &:after {  border-top-color: $brand-info ; } 
        }
        &:after{
            content: "";
            position: absolute;
            border: 3px solid transparent;
            top: 100%;
            left: 50%;
            margin-left: -3px;
        }
    }
}

/**
 * White Styles
 */
.navbar-mega-light{
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    .navbar-mega .navbar-nav > li.active > a::before, .navbar-mega .navbar-nav > li:hover > a::before{
        background:#FFFFFF;
    }
}

.navbar-mega-theme{
    background:$theme-color;
    .navbar-mega .navbar-nav > li > a, .navbar-mega .navbar-nav > li > a .caret {
        color:#FFFFFF;
    }
    
}


/**
 * Simple Styles
 */
.navbar-mega-simple{
    text-align: center;
   .pbr-megamenu{
        display: inline-block;
   }
}



/*** Vertical Megamenu ***/
.pbr-vertical-menu{
    .navbar-vertical-mega{
        display: block;
        position:relative;
        width: 100%;
        & > li{
            display: block;
            float: none;
            clear: both;
            width: 100%;

            & >  a{
                text-transform: uppercase;
                padding-top:10px;
                padding-bottom:10px; 
                font-size:13px;
            }
            border-bottom:solid 1px $border-color;
            .dropdown-menu{
                top:0;
                left: 100%;
            }
          
            &:hover{
                & > .dropdown-menu{
                    display: block;
                }
            }
            .caret{
                float: right;
            }
        }   
    }
    &.menu-right > li {
        .dropdown-menu{
            top:0;
            right: 100%;
        }
    }
}